# node_modules/
# .git/
# .files/
# .nuxt/
# .output/
# .env

**/
**
!app.vue
!assets/**
!components/**
!composables/**
!middleware/**
!pages/**
!plugins/**
!public/**
!server/**
!types/**
!utils/**
!.npmrc
!index.d.ts
!nuxt.config.ts
!package.json
!pnpm-lock.yaml
!tsconfig.json
!uno.config.ts