*
**/
!assets/**
!components/**
!composables/**
!middleware/**
!pages/**
!public/**
!server/**
!types/**
!utils/**
!.dockerignore
!.npmrc
!app.vue
!index.d.ts
!nuxt.config.ts
!package.json
!pnpm-lock.yaml
!tsconfig.json
!uno.config.ts