@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flow-flex {
    gap: var(--flow-space, theme('spacing.sm'));
    display: flex;
  }
  .flow-grid {
    gap: var(--flow-space, theme('spacing.sm'));
    display: grid;
  }
}

[data-rating="20"],
[data-rating="25"] {
  color: theme(colors.rating.red);
}
[data-rating="30"],
[data-rating="35"],
[data-rating="40"] {
  color: theme(colors.rating.orange);
}
[data-rating="45"],
[data-rating="50"] {
  color: theme(colors.rating.yellow);
}
[data-rating="55"],
[data-rating="60"],
[data-rating="65"] {
  color: theme(colors.rating.green);
}
[data-rating="70"],
[data-rating="75"],
[data-rating="80"] {
  color: theme(colors.rating.blue);
}

* {
  color: theme(colors.surface.900);
}
